---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
---

<Layout title="Kafen Web">
	<eader class="w-1/3 mx-auto">
		<Header/>
		<Card title='Card1' body='Hola como estamos mis ninios' href='/'/>
	</main>
</Layout>
