<footer
    class="flex flex-col justify-center items-center gap-2 h-[300px] bg-red-950 text-white p-10"
>
    <img src="./logowhite.png" alt="Logo kafen web" class="w-[150px]" />
    <div class="flex items-center gap-1">
        <span class="icon-[ci--location]"></span>
        <p>Ahuachapan, El Salvador, CA</p>
    </div>
    <p>© Copyright 2024 Kafen Web</p>
</footer>
