<header class="flex items-center justify-around">
    <img src="../../public/logowhite.png" alt="Imagen del logo"
    class="w-[300px]">
    <ul class="flex text-white gap-10 items-center">
        <li>Sobre nosotros</li>
        <li>Proyectos</li>
        <li>Precios</li>
        <li class="border border-red-500 px-5 py-2">Contactanos</li>
    </ul>

</header>