<header class="flex items-center justify-around py-6">
    <img src="./logowhite.png" alt="Imagen del logo"
    class="w-[300px]">
    <ul class="flex text-white gap-10 items-center font-kanit text-lg">
        <li>Sobre nosotros</li>
        <li>Proyectos</li>
        <li>Precios</li>
        <li class="border border-red-500 px-5 py-2">Contactanos</li>
    </ul>

</header>