<section class="w-full mx-auto flex gap-48 text-white items-center justify-center">
    <div class="font-kanit flex flex-col gap-2 w-1/2">
        <h1 class="font-medium leading-[70px] text-6xl">
            CONSTRUIMOS
            <span class="text-cyan-300">SITIOS WEB</span>
            INCREIBLES
        </h1>
        <p class="text-lg font-light leading-[30px]">
            Hacemos crecer tu negocio con presencia en la web. Alcanza el
            siguiente nivel con el profesionalismo que te da el software a
            medida y de alta calidad.
        </p>
        <div class="flex gap-4 mt-2">
            <button
                class="w-1/2 px-10 py-4 bg-red-500 rounded-md cursor-pointer hover:bg-red-600 text-lg"
                >Contactanos</button
            >
            <button
                class="w-1/2 px-10 py-4 border border-white rounded-md cursor-pointer hover:border-red-200 hover:text-red-200 text-lg"
                >Nuestros servicios</button
            >
        </div>
    </div>
    <div class="w-1/2">
        <img src="./hero.png" alt="Hero image" class="w-5/6"/>
    </div>
</section>
