<section class="flex justify-center gap-12 my-10">
    <span class="icon-[mdi--instagram] text-3xl text-white"></span>
    <span class="icon-[mdi--whatsapp] text-3xl text-white"></span>
    <span class="icon-[mdi--gmail] text-3xl text-white"></span>
    <span class="icon-[mdi--linkedin] text-3xl text-white"></span>
</section>
